.poopUp {
    position: fixed;
    display: none;
    z-index: 100000;

    &_placeholder {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        display: flex;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.409);
        overflow-y: auto;
        padding-bottom: 45px;

        padding: 5px;
    }

    &_content {
        position: relative;

        background: #444444;
        height: fit-content;
        margin-top: 40px;
        border-radius: 20px;
        padding: 15px;
        color: #000;
    }

    .closeBtn {
        position: absolute;
        right: 5px;
        background: none;
        border: none;
        font-size: 34px;
        color: #e94040;
        top: 5px;
        cursor: pointer;
    }
}

.poopUp.isOpen {
    display: block;
    animation: poopUpAnimation 0.3s both;
}

@keyframes poopUpAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.noScroll {
    overflow: hidden;
}
