.select {
    color: #fff;
    position: relative;

    .selected_option,
    .select_list_wrapper {
        border: 2px solid #fff;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .selected_option {
        position: relative;
        input {
            padding: 7px 14px;
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            padding-right: 40px;

            &::placeholder {
                color: #ffffffc9;
            }
        }
    }

    .notFound {
        padding: 0 13px;
    }

    .openButton {
        position: absolute;
        right: 15px;
        top: 3px;

        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
    }

    .select_list {
        overflow-y: auto;
        max-height: 200px;
        margin: 5px 3px 5px 3px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 15px;
            background-color: #747474;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            background: #c9c9c9;
        }
        scrollbar-width: thin;
    }

    .select_list_wrapper {
        position: absolute;
        display: none;

        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        background: #444;
        box-shadow: 0 0 20px #232323;
        overflow: hidden;
    }
    .select_list_wrapper.active {
        display: block;
    }

    .option {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 10px;
    }
    .option:hover {
        background: #6e6e6e5a;
    }
}
